.food-display{
    margin-top: 30px;
  
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
  
}
.food-item-desc {
  /* overflow: hidden; */
  display: -webkit-box;
  -webkit-line-clamp: 5; /* Show only 2 lines */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #555;
  overflow: auto;
  font-size: 14px;
  line-height: 1.5;
}


.HR{
    margin: 10px 0px;
    height: 3px;
    background-color: #e2e2e2a3;
    border: none;
  }
  .loading-food{
    text-align: center;
    font-size: 30px;
    text-decoration: solid;
    color: rgb(180, 23, 23)
  }